/* Forgot password */
.nav-item .btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.nav-item .btn:hover {
    transform: translateY(-3px);
}

h5 {
    margin-bottom: 0px !important;
}
/* body {
    background-color: #91d9ff;
} */

.forgot-password {
    margin-top: 6%;
}
.body-content {
    padding: 10%;
    width: 700px;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 10%;
}
.forgot-password-heading{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 50px;
    color: #0062cc;
    font-size: 30px;   
}
.forgot-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-group .form-control {
    height: 50px;
    width: 200px;
    margin-top: 15px;
    border: 1px solid #0062cc;
    border-radius: 15rem;
}
.btnForgot{
    margin-top: 20px;
    background-color: #4db5ff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}